<h1>Editing score</h1>

<%= render "form", score: @score %>
<br>
<%url = ""%>
<% if @x == "1"%>
  <%url = "/student/" + @y + "/edit_score"%>
<%else%>
  <%url = scores_path%>
<%end%>


<div>
  <%= link_to "Show this score", @score %> |
  <%= link_to "Back to scores", url %>
</div>
