<h1>New score</h1>

<%= render "form", score: @score %>
<%url = ""%>
<% if @x == "1"%>
  <%url = "/student/" + @y + "/edit_score"%>
<%else%>
  <%url = scores_path%>
<%end%>
<br>

<div>
  <%= link_to "Back to scores", url %>
</div>
